<div class="govuk-!-margin-top-6 app-table__container" data-module="filterable-table">
  <%= render "govuk_publishing_components/components/input", {
    label: {
      text: "Filter search results"
    },
    name: "table-filter",
    type: "search",
    search_icon: true,
    tabindex: 0
  } %>

  <%= GovukPublishingComponents::AppHelpers::TableHelper.helper(self) do |t| %>
    <%= t.head do %>
      <%= t.header "#" %>
      <%= t.header "Title" %>
      <%= t.header "Score" %>
      <%= t.header "Format" %>
      <%= t.header "Content store document type" %>
    <% end %>
    <%= t.body do %>
      <% results.each_with_index do |result, index| %>
        <%= t.row do %>
          <%= t.cell index + 1 %>
          <%= t.cell link_to(result.title, Plek.new.website_root + result.link, target: 'blank', class: 'govuk-link') %>
          <%= t.cell result.es_score %>
          <%= t.cell result.format %>
          <%= t.cell result.content_store_document_type %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
