<tr>
  <td><%= index + 1 %></td>
  <td>
    <%= link_to(
      result.title,
      Plek.new.website_root + result.link,
      target: 'blank'
    )%>
  </td>
  <td><%= result.es_score %></td>
  <td><%= result.format %></td>
  <td><%= result.content_store_document_type %></td>
</tr>
