<tr class="recommended_link" id="recommended-link-<%= recommended_link.id %>">
  <td><%= link_to recommended_link.title, recommended_link_path(recommended_link) %></td>
  <td><%= link_to recommended_link.link, recommended_link.link %></td>
  <td><%= recommended_link.description %></td>
  <td><%= recommended_link.keywords %></td>
</tr>
