<%= render "common/page_title", title: "External links" %>

<div class="actions">
  <%= render "govuk_publishing_components/components/button", {
    text: "New external link",
    href: new_recommended_link_path,
    inline_layout: true
  } %>
  <%= render "govuk_publishing_components/components/button", {
    text: "Download CSV",
    href: recommended_links_path(format: 'csv'),
    secondary_quiet: true,
    inline_layout: true
  } %>
</div>

<div class="govuk-!-margin-top-6 app-table__container" data-module="filterable-table">
  <%= render "govuk_publishing_components/components/input", {
    label: {
      text: "Filter external links"
    },
    name: "table-filter",
    type: "search",
    search_icon: true,
    tabindex: 0
  } %>
  <div class="external-links">
    <%= GovukPublishingComponents::AppHelpers::TableHelper.helper(self) do |t| %>
      <%= t.head do %>
        <%= t.header "Title" %>
        <%= t.header "Link" %>
        <%= t.header "Description" %>
        <%= t.header "Keywords" %>
      <% end %>
      <%= t.body do %>
        <% @recommended_links.each do |recommended_link| %>
          <%= t.row do %>
            <%= t.cell link_to(recommended_link.title, recommended_link_path(recommended_link), class:'govuk-link') %>
            <%= t.cell link_to(recommended_link.link, recommended_link.link, class:'govuk-link') %>
            <%= t.cell recommended_link.description %>
            <%= t.cell recommended_link.keywords %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
