<% content_for(:breadcrumbs) do %>
  <%= render "govuk_publishing_components/components/breadcrumbs", {
    breadcrumbs: [
      {
        title: t("recommended_links.index.page_title"),
        url: recommended_links_path
      },
      {
        title: @recommended_link.title
      }
    ]
  } %>
<% end %>

<%= render "page_title", title: @recommended_link.title %>

<div class="actions">
  <%= render "govuk_publishing_components/components/button", {
    text: t("common.buttons.edit", model_name: t_model_name),
    href: edit_recommended_link_path(@recommended_link),
    inline_layout: true
  } %>
  <%= delete_button(
    t("common.buttons.delete", model_name: t_model_name),
    recommended_link_path(@recommended_link),
    is_inline: true
  ) %>
</div>

<%= render "govuk_publishing_components/components/heading", {
  text: t(".preview_heading"),
  heading_level: 3,
  font_size: "m",
  padding: true
} %>

<div id="recommended_link_preview">
  <%= render "govuk_publishing_components/components/document_list", {
    remove_underline: true,
    items: [
      {
        link: {
          text: @recommended_link.title,
          path: @recommended_link.link,
          description: @recommended_link.description,
        },
        highlight: true
      }
    ]
  } %>
</div>

<%= render "govuk_publishing_components/components/button", {
  text: t(".view_on_search_button"),
  href: search_url_for_keyword(@recommended_link.title),
  target: "_blank",
  secondary_quiet: true
} %>

<p class="govuk-body-s govuk-!-margin-top-2">
  <%= t(".disclaimer") %>
</p>
