<%= render "govuk_publishing_components/components/breadcrumbs", {
  breadcrumbs: [
    {
      title: "External links",
      url: recommended_links_path
    },
    {
      title: @recommended_link.title
    }
  ]
} %>

<%= render "common/page_title", title: @recommended_link.title %>

<div class="actions">
  <%= render "govuk_publishing_components/components/button", {
    text: "Edit external link",
    href: edit_recommended_link_path(@recommended_link),
    inline_layout: true
  } %>
  <%= delete_button "Delete external link", recommended_link_path(@recommended_link), is_inline: true %>
</div>

<%= render "govuk_publishing_components/components/heading", {
  text: "Preview",
  heading_level: 3,
  font_size: "m",
  padding: true
} %>

<div id="recommended_link_preview">
  <%= render "govuk_publishing_components/components/document_list", {
    remove_underline: true,
    items: [
      {
        link: {
          text: @recommended_link.title,
          path: @recommended_link.link,
          description: @recommended_link.description,
        },
        metadata: {
          public_updated_at: Time.now,
        },
        highlight: true
      }
    ]
  } %>
</div>

<%= render "govuk_publishing_components/components/button", {
  text: "View on GOV.UK Search",
  href: @search_url,
  target: "_blank",
  secondary_quiet: true
} %>

<p class="govuk-body-s govuk-!-margin-top-2">
  Changes to recommended links may take several minutes to be visible in live search results on
  GOV.UK. This recommended link may not be the top search result even when searching for its exact
  title because of the way content is ranked by the search engine.
</p>
