<%= render "govuk_publishing_components/components/breadcrumbs", {
  breadcrumbs: [
    {
      title: t("controls.index.page_title"),
      url: controls_path
    },
    {
      title: @control.display_name
    }
  ]
} %>

<%= render "page_title", {
  title: @control.display_name,
  context: t(".page_title_context", action_name: t_model_name(@control.action).capitalize),
  context_inside: true
} %>


<div class="actions">
  <%= render "govuk_publishing_components/components/button", {
    text: t("common.buttons.edit", model_name: t_model_name),
    href: edit_control_path(@control),
    inline_layout: true
  } %>
  <%= delete_button(
    t("common.buttons.delete", model_name: t_model_name),
    @control,
    is_inline: true
  ) %>
</div>

<%= render "govuk_publishing_components/components/summary_list", {
  title: t(".control_heading"),
  items: [
    {
      field: t_model_attr(:display_name),
      value: @control.display_name,
    },
  ]
} %>

<%= render @control.action %>
