<% content_for(:breadcrumbs) do %>
  <%= render "govuk_publishing_components/components/breadcrumbs", {
    breadcrumbs: [
      {
        title: t("controls.index.page_title"),
        url: controls_path
      },
      {
        title: @control.display_name
      }
    ]
  } %>
<% end %>

<%= render "page_title", {
  title: @control.display_name,
  context: t(".page_title_context", action_name: t_model_name(@control.action).capitalize),
  context_inside: true
} %>

<div class="actions">
  <%= render "govuk_publishing_components/components/button", {
    text: t("common.buttons.edit", model_name: t_model_name),
    href: edit_control_path(@control),
    inline_layout: true
  } %>
  <% if @control.serving_configs.empty? %>
    <%= delete_button(
      t("common.buttons.delete", model_name: t_model_name),
      @control,
      is_inline: true
    ) %>
  <% end %>
</div>

<% if @control.serving_configs.any? %>
  <%= render "govuk_publishing_components/components/inset_text", {
  text: t(".control_not_deletable_warning"),
} %>
<% end %>

<%= render "govuk_publishing_components/components/summary_card", {
  title: t(".control_heading"),
  rows: [
    {
      key: t_model_attr(:display_name),
      value: @control.display_name,
    },
    {
      key: t_model_attr(:name),
      value: tag.code(@control.name),
    }
  ]
} %>

<%= render @control.action %>

<% if @control.serving_configs.any? %>
  <%= render "govuk_publishing_components/components/summary_card", {
    title: t(".serving_configs_heading"),
    rows: [
      {
        key: t_model_attr(:serving_configs),
        value: resource_link_list(@control.serving_configs) { it.display_name },
      }
    ]
  } %>
<% end %>
