<%= render "govuk_publishing_components/components/breadcrumbs", {
  breadcrumbs: [
    {
      title: "Search results",
      url: results_path
    },
    {
      title: "Inspect Result"
    }
  ]
} %>

<%= render "common/page_title", title: "Search results" %>

<%= render 'form' %>

<% if @document %>
  <%= table_for @document.to_hash %>

  <div class="gem-c-inset-text govuk-inset-text app-inset-text--warning">
    <div>
      <h2 class="govuk-heading-m">Remove search result</h2>
      <p class="govuk-body">This will remove the item from all search results. You must archive the item to make this permanent.</p>
      <%= delete_button "Remove result", result_path(@path) %>
    </div>
  </div>
<% end %>
