<%= t.head do %>
  <%= t.header "Link" %>
  <% if type == :best %>
    <%= t.header "Position" %>
  <% end %>
  <%= t.header "Last edit" %>
  <%= t.header "Author" %>
  <%= t.header "Status" %>
  <%= t.header "Action" %>
  <%= t.header "Delete" %>
<% end %>
<%= t.body do %>
  <% bets.each do |bet| %>
  <% link_and_comment = capture do %>
    <p class="govuk-body-s govuk-!-margin-0">
      <%= link_to bet.link, edit_bet_path(bet), class:"govuk-link" %>
    </p>
    <p class="govuk-body-s govuk-!-margin-bottom-0 govuk-!-margin-top-2">
      <%= bet.try(:comment) %>
    </p>
  <% end %>

    <%= t.row do %>
      <%= t.cell link_and_comment %>
      <% if type == :best %>
        <%= t.cell bet.position %>
      <% end %>
      <%= t.cell bet.last_edit_date.strftime("%d %b %Y") %>
      <%= t.cell bet.try(:user).try(:name) || " " %>
      <%= t.cell bet.valid_until %>
      <% if bet.active? %>
        <%= t.cell button_to 'Deactivate', deactivate_bet_path(bet), class: "govuk-button govuk-button--secondary" %>
      <% else %>
        <%= t.cell link_to 'Activate', edit_bet_path(bet,  active: "true"), class: "govuk-button govuk-button--secondary"%>
      <% end %>
      <%= t.cell delete_button 'Delete', bet_path(bet) %>
    <% end %>
  <% end %>
<% end %>
