<tr class="query" id="query-<%= query.id %>">
  <td><%= link_to query.query, query_path(query) %></td>
  <td><%= query.match_type %></td>
  <td>
    <% if query.sorted_best_bets.any? %>
      <ol>
        <% query.sorted_best_bets.each do |bet| %>
          <li>
            <%= link_to bet.link, edit_bet_path(bet) %>
            <% if bet.comment.present? %>
              <small class='comment'>
                <%= bet.comment %>
              </small>
            <% end %>
          </li>
        <% end %>
      </ol>
    <% end %>

    <% if query.worst_bets.any? %>
      <ol>
        <strong>Worst Bets</strong>
        <% query.worst_bets.each do |bet| %>
          <li><%= icon(:minus) %> <%= link_to bet.link, edit_bet_path(bet) %></li>
        <% end %>
      </ol>
    <% end %>
  </td>
</tr>
