<% bets.each do |bet| %>
  <% link_and_comment = capture do %>
    <p class="govuk-body-s govuk-!-margin-0">
      <% if type == :worst %>
        <strong class="govuk-tag">Worst</strong>
      <% end %>
      <%= link_to bet.link, edit_bet_path(bet), class:"govuk-link" %>
    </p>
    <% if bet.try(:comment).present? %>
      <p class="govuk-body-s govuk-!-margin-bottom-0 govuk-!-margin-top-2"><%= bet.try(:comment) %></p>
    <% end %>
  <% end %>
  <%= t.row do %>
    <%= t.cell link_to(query.query, query_path(query), class:"govuk-link") %>
    <%= t.cell query.match_type %>
    <%= t.cell link_and_comment %>
    <%= t.cell bet.valid_until %>
  <% end %>
<% end %>
