<h1 class="page-title-with-border remove-bottom-margin">Queries</h1>

<div class="add-vertical-margins">
  <%= link_to 'New query', new_query_path, class: 'btn btn-primary add-right-margin'%>
  <%= link_to 'View as CSV', queries_path(format: 'csv'), class: 'btn btn-default' %>
</div>

<table class="table queries-list">
  <thead>
    <tr class="table-header">
      <th>Query</th>
      <th>Match</th>
      <th>Best bets</th>
      <th>Worst bets</th>
    </tr>
  </thead>
  <tbody>
    <% @queries.each do |query| %>
      <tr class="query" id="query-<%= query.id %>">
        <td><%= link_to query.query, query_path(query) %></td>
        <td><%= link_to query.match_type, query_path(query) %></td>
        <td>
          <ol>
            <% query.best_bets.each do |bet| %>
              <li><%= bet.link %></li>
            <% end %>
          </ol>
        </td>
        <td>
          <ul>
            <% query.worst_bets.each do |bet| %>
              <li><%= bet.link %></li>
            <% end %>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
