<%= render "common/page_title", title: "Queries" %>

<div class="actions">
  <%= render "govuk_publishing_components/components/button", {
    text: "New query",
    href: new_query_path,
    inline_layout: true
  } %>
  <%= render "govuk_publishing_components/components/button", {
    text: "Download CSV",
    href: queries_path(format: 'csv'),
    secondary_quiet: true,
    inline_layout: true
  } %>
</div>

<div class="govuk-!-margin-top-6 app-table__container queries" data-module="filterable-table">
  <%= render "govuk_publishing_components/components/input", {
    label: {
      text: "Filter queries"
    },
    name: "table-filter",
    type: "search",
    search_icon: true,
    tabindex: 0
  } %>

  <%= GovukPublishingComponents::AppHelpers::TableHelper.helper(self) do |t| %>
    <%= t.head do %>
      <%= t.header "Query" %>
      <%= t.header "Match" %>
      <%= t.header "Bets" %>
      <%= t.header "Type" %>
      <%= t.header "Status" %>
    <% end %>
    <%= t.body do %>
      <% @queries.each do |query| %>
        <%= render 'query_item_row', query: query, t: t %>
      <% end %>
    <% end %>
  <% end %>
</div>
