<h1><%= @query.query %> - <%= @query.match_type %></h1>
<p><%= link_to "Edit query", edit_query_path(@query), class: 'btn btn-primary' %></p>
<p><%= button_to "Delete query", query_path(@query), method: :delete, class: 'btn btn-danger' %></p>
<p><%= link_to 'Return to query index', queries_path %></p>

<h2>Add new bet</h2>
<%= render 'bets/form', bet: @new_bet, query: @query %>

<h2>Best bets</h2>

<table class="table best-bets bets-list">
  <thead>
    <tr class="table-header">
      <th>Link</th>
      <th>Position</th>
      <th>Comment</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
  <% @best_bets.each do |bet| %>
    <tr class="bet" id="bet-<%= bet.id %>">
      <td><%= link_to bet.link, edit_bet_path(bet) %></td>
      <td><%= bet.position %></td>
      <td><%= bet.comment %></td>
      <td><%= button_to 'Delete', bet_path(bet), method: :delete, class: 'btn btn-danger' %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<h2>Worst bets</h2>

<table class="table worst-bets bets-list">
  <thead>
    <tr class="table-header">
      <th>Link</th>
      <th>Comment</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
  <% @worst_bets.each do |bet| %>
    <tr class="bet" id="bet-<%= bet.id %>">
      <td><%= link_to bet.link, edit_bet_path(bet) %></td>
      <td><%= bet.comment %></td>
      <td><%= button_to 'Delete', bet_path(bet), method: :delete, class: 'btn btn-danger' %></td>
    </tr>
  <% end %>
  </tbody>
</table>
