<h1><%= @query.query %> - <%= @query.match_type %></h1>
<p><%= link_to "Edit query", edit_query_path(@query) %></p>
<p><%= button_to "Delete query", query_path(@query), method: :delete %></p>

<h2>Add new bet</h2>
<%= render 'bets/form', bet: @new_bet, query: @query %>

<h2>Best bets</h2>

<table class="best-bets">
  <tr>
    <th>Link</th>
    <th>Position</th>
  </tr>
  <% @best_bets.each do |bet| %>
    <tr class="bet" id="bet-<%= bet.id %>">
      <td><%= bet.link %></td>
      <td><%= bet.position %></td>
      <td><%= button_to 'Delete', bet_path(bet), method: :delete %></td>
    </tr>
  <% end %>
</table>

<h2>Worst bets</h2>
