<ol class="breadcrumb">
  <li><%= link_to 'Queries', queries_path %></li>
  <li class="active"><%= @query.display_name %></li>
</ol>

<%= page_title @query.display_name %>

<div class="actions">
  <%= link_to "Edit query", edit_query_path(@query), class: 'btn btn-default' %>
  <%= delete_button "Delete query", query_path(@query) %>
</div>

<h3>Best bets</h3>

<table class="table best-bets bets-list">
  <thead>
    <tr class="table-header">
      <th>Link</th>
      <th>Position</th>
      <th>Comment</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
  <% @best_bets.each do |bet| %>
    <tr class="bet" id="bet-<%= bet.id %>">
      <td><%= link_to bet.link, edit_bet_path(bet) %></td>
      <td><%= bet.position %></td>
      <td><%= bet.comment %></td>
      <td><%= delete_button 'Delete', bet_path(bet) %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<h3>Worst bets</h3>

<table class="table worst-bets bets-list">
  <thead>
    <tr class="table-header">
      <th>Link</th>
      <th>Comment</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
  <% @worst_bets.each do |bet| %>
    <tr class="bet" id="bet-<%= bet.id %>">
      <td><%= link_to bet.link, edit_bet_path(bet) %></td>
      <td><%= bet.comment %></td>
      <td><%= delete_button 'Delete', bet_path(bet) %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<h3>Add new bet</h3>
<%= render 'bets/form', bet: @new_bet, query: @query %>

<h3>Search results</h3>
<%= link_to 'Visit URL', @search_url, target: '_blank' %>

<div class='callout callout-info add-bottom-margin'>
  <div class="callout-title">
    There is a slight delay between the updating of a bet and the indexing
    by the search engine. If you're seeing unexpected results,
    <a href='' id='search-results-refresh'>try refreshing these results</a>.
  </div>
</div>

<iframe src="<%= @search_url %>" id="search-results"></iframe>
