<%= render "govuk_publishing_components/components/breadcrumbs", {
  breadcrumbs: [
    {
      title: "Queries",
      url: queries_path
    },
    {
      title: "Queries"
    }
  ]
} %>

<%= render "common/page_title", title: @query.display_name %>

<div class="actions">
  <%= render "govuk_publishing_components/components/button", {
    text: "Edit query",
    href: edit_query_path(@query),
    inline_layout: true
  } %>
  <%= delete_button "Delete query", query_path(@query), true %>
</div>

<h3 class="govuk-heading-m">Best bets</h3>

<div class="best-bets">
  <%= GovukPublishingComponents::AppHelpers::TableHelper.helper(self) do |t| %>
    <%= t.head do %>
      <%= t.header "Link" %>
      <%= t.header "Position" %>
      <%= t.header "Created" %>
      <%= t.header "Author" %>
      <%= t.header "Status" %>
      <%= t.header "Action" %>
      <%= t.header "Delete" %>
    <% end %>
    <%= t.body do %>
      <% @best_bets.each do |bet| %>
        <%= t.row do %>
          <%= t.cell link_to bet.link, edit_bet_path(bet), class:"govuk-link" %>
          <%= t.cell bet.position %>
          <%= t.cell bet.created_at.strftime("%d %b %Y") %>
          <%= t.cell bet.try(:user).try(:name) || "" %>
          <%= t.cell bet.valid_until %>
          <% if bet.active? %>
            <%= t.cell button_to 'Deactivate', deactivate_bet_path(bet), class: "govuk-button govuk-button--secondary" %>
          <% else %>
            <%= t.cell link_to 'Activate', edit_bet_path(bet,  active: "true"), class: "govuk-button govuk-button--secondary"%>
          <% end %>
          <%= t.cell delete_button 'Delete', bet_path(bet) %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>

<h3 class="govuk-heading-m">Worst bets</h3>

<div class="worst-bets">
  <%= GovukPublishingComponents::AppHelpers::TableHelper.helper(self) do |t| %>
    <%= t.head do %>
      <%= t.header "Link" %>
      <%= t.header "Created" %>
      <%= t.header "Author" %>
      <%= t.header "Status" %>
      <%= t.header "Action" %>
      <%= t.header "Delete" %>
    <% end %>
    <%= t.body do %>
      <% @worst_bets.each do |bet| %>
        <%= t.row do %>
          <%= t.cell link_to bet.link, edit_bet_path(bet), class:"govuk-link" %>
          <%= t.cell bet.created_at.strftime("%d %b %Y") %>
          <%= t.cell bet.try(:user).try(:name) || " " %>
          <%= t.cell bet.valid_until %>
          <% if bet.active? %>
            <%= t.cell button_to 'Deactivate', deactivate_bet_path(bet), class: "govuk-button govuk-button--secondary" %>
          <% else %>
            <%= t.cell link_to 'Activate', edit_bet_path(bet,  active: "true"), class: "govuk-button govuk-button--secondary"%>
          <% end %>
          <%= t.cell delete_button 'Delete', bet_path(bet) %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>

<h3 class="govuk-heading-m">Add new bet</h3>
<%= render 'bets/form', bet: @new_bet, query: @query %>

<h3 class="govuk-heading-m">Search results</h3>
<%= link_to 'Visit URL', @search_url, target: '_blank', class: 'govuk-link' %>

<%= render "govuk_publishing_components/components/inset_text", {
} do %>
  <div>
  There is a slight delay between the updating of a bet and the indexing
    by the search engine. If you're seeing unexpected results,
    <a href="" id="search-results-refresh" class="govuk-link">try refreshing these results</a>.
</div>
<% end %>
<div class="search-results">
  <iframe src="<%= @search_url %>" class="search-results__iframe"></iframe>
</div>
