<%= render "govuk_publishing_components/components/breadcrumbs", {
  breadcrumbs: [
    {
      title: human_records_name,
      url: discovery_engine_controls_path
    },
    {
      title: @discovery_engine_control.name
    }
  ]
} %>

<%= render "common/page_title", title: @discovery_engine_control.name %>

<div class="actions">
  <%= render "govuk_publishing_components/components/button", {
    text: "Edit #{human_record_name}",
    href: edit_discovery_engine_control_path(@discovery_engine_control),
    inline_layout: true
  } %>
  <%= delete_button "Delete #{human_record_name}", discovery_engine_control_path(@discovery_engine_control), is_inline: true %>
</div>

<%= render @discovery_engine_control %>
