<% content_for :head do %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csp_meta_tag %>
  <%= render "layouts/google_tag_manager" %>
<% end %>

<%= render "govuk_publishing_components/components/layout_for_admin", {
  environment: GovukPublishingComponents::AppHelpers::Environment.current_acceptance_environment,
  product_name: t("common.product_name"),
  browser_title: yield(:page_title).presence
} do %>
  <%= render "govuk_publishing_components/components/skip_link" %>
  <%= render "govuk_publishing_components/components/layout_header", {
    product_name: t("common.product_name"),
    environment: GovukPublishingComponents::AppHelpers::Environment.current_acceptance_environment,
    navigation_items: [
      {
        text: t("primary_navigation_areas.search"),
        href: recommended_links_path,
        active: primary_navigation_area == :search,
      },
      {
        text: Current.user.name,
        href: Plek.new.external_url_for("signon"),
      },
      {
        text: t("common.menu.sign_out"),
        href: "/auth/gds/sign_out",
      },
    ]
  } %>
  <div class="govuk-width-container">
    <%= yield :secondary_nav %>

    <%= yield :breadcrumbs %>

    <main class="govuk-main-wrapper" id="main-content" role="main">
      <% flash.each do |type, msg| %>
        <% if type == 'notice' %>
          <%= render "govuk_publishing_components/components/success_alert", {
            message: msg
          } %>
        <% else%>
          <%= render "govuk_publishing_components/components/error_alert", {
            message: msg
          } %>
        <% end %>
      <% end -%>

      <%= yield %>
    </main>

    <% if ENV.key? "SENTRY_RELEASE" %>
      <p class="govuk-body-s">Version: <%= ENV["SENTRY_RELEASE"] %></p>
    <% end %>
  </div>

  <%= render "govuk_publishing_components/components/layout_footer", {} %>
  <%= yield :extra_javascript %>
<% end %>
