<% content_for :head do %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
<% end %>

<% content_for :app_title, "GOV.UK Search Admin" %>

<% content_for :navbar_items do %>
  <li class='<%= controller_name.in?(%w[queries bets]) ? "active" : nil %>'>
    <%= link_to 'Queries', queries_path %>
  </li>

  <li class='<%= controller_name == "recommended_links" ? "active" : nil %>'>
    <%= link_to 'External links', recommended_links_path %>
  </li>

  <li class='<%= controller_name == "results" ? "active" : nil %>'>
    <%= link_to 'Search results', results_path %>
  </li>
<% end %>

<% content_for :navbar_right do %>
  <%= link_to current_user.name, Plek.current.find('signon') %>
  &bull; <%= link_to 'Sign out', '/auth/gds/sign_out' %>
<% end %>

<% content_for :content do %>
  <% flash.each do |type, msg| %>
    <%= content_tag :div, msg, class: "alert flash-#{type}" %>
  <% end -%>
  <%= yield %>
<% end %>

<% content_for :body_end do %>
<%= javascript_include_tag "application" %>
<script>
  $(document).ready(function() {
    <%= yield :document_ready %>
  });
</script>
<% end %>

<% content_for :footer_version, CURRENT_RELEASE_SHA %>

<%# use the govuk_admin_foundation layout %>
<%= render :template => 'layouts/govuk_admin_template' %>
