<% content_for :head do %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
<% end %>

<% content_for :page_title, "Search Admin" %>

<% content_for :navbar_items do %>
  <li><%= link_to 'Queries', '/queries' %></li>
<% end %>

<% content_for :navbar_right do %>
  Hello, <%= link_to current_user.name, Plek.current.find('signon') %>
  &bull; <%= link_to 'Sign out', '/auth/gds/sign_out' %>
<% end %>

<% content_for :content do %>
  <% flash.each do |type, msg| %>
    <%= content_tag :div, msg, class: "alert flash-#{type}" %>
  <% end -%>
  <%= yield %>
<% end %>

<% content_for :body_end do %>
<%= javascript_include_tag "application" %>
<script>
  $(document).ready(function() {
    <%= yield :document_ready %>
  });
</script>
<% end %>

<%# use the govuk_admin_foundation layout %>
<%= render :template => 'layouts/govuk_admin_template' %>
