<!DOCTYPE html>
<html>
  <head>
    <title>GOV.UK Search Admin</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav class="primary-navigation" role="navigation">
      <div class="container">
        <div class="application-title">
          <%= link_to "GOV.UK Search Admin", root_path %>
        </div>

        <ul class="current-user">
          <li><%= link_to current_user.name, Plek.current.find('signon') %></li>
          <li><%= link_to 'Sign out', '/auth/gds/sign_out' %></li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <div class="col-md-12">
        <% if flash.notice %>
          <p><%= flash.notice %></p>
        <% elsif flash.alert %>
          <p role='alert'><%= flash.alert %></p>
        <% end %>

        <%= yield %>
      </div>
    </div>
  </body>
</html>
