<!DOCTYPE html>
<html>
  <head>
    <title>Search admin</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <% if flash.notice %>
      <p><%= flash.notice %></p>
    <% elsif flash.alert %>
      <p role='alert'><%= flash.alert %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
