<% content_for :head do %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
<% end %>

<%= render "govuk_publishing_components/components/layout_for_admin", {
  environment: GovukPublishingComponents::AppHelpers::Environment.current_acceptance_environment,
  product_name: "Search Admin",
  browser_title: yield(:page_title).presence || "Search Admin"
} do %>
  <%= render "govuk_publishing_components/components/skip_link" %>
  <%= render "govuk_publishing_components/components/layout_header", {
    product_name: "Search Admin",
    environment: GovukPublishingComponents::AppHelpers::Environment.current_acceptance_environment,
    navigation_items: navigation_items
  } %>
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-!-padding-top-2" id="main-content" role="main">
      <% flash.each do |type, msg| %>	
        <% if type == 'notice' %>
          <%= render "govuk_publishing_components/components/success_alert", {
            message: msg
          } %>
        <% else%>
          <%= render "govuk_publishing_components/components/error_alert", {
            message: msg
          } %>
        <% end %>	
      <% end -%>

      <%= yield %>
    </main>

    <p class="govuk-body">Version: <%= CURRENT_RELEASE_SHA %></p>
  </div>

  <%= render "govuk_publishing_components/components/layout_footer", {} %>
  <%= yield :extra_javascript %>
<% end %>
